# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Vscode
.history

node_modules
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
cache_hardhat
artifacts

# Depyloments
## Ucomment if you want to save deployments
deployments/*
!deployments/.gitkeep

# IDE
.idea